name: Build
on:
  push:
    branches: master
  pull_request:
    branches: master

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.x.x'

    - name: Build the solution
      run: dotnet build



