name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    runs-on: windows-latest
    env:
      dotnet_version: '10.x.x'

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.dotnet_version }}

      # ---------------- Build Phase ----------------
      - name: Publish x64
        run: dotnet publish -c Release -r win-x64

      - name: Publish x86
        run: dotnet publish -c Release -r win-x86

      - name: Publish arm64
        run: dotnet publish -c Release -r win-arm64

      # ---------------- Inno Setup ----------------
      - name: Install Inno Setup
        run: choco install innosetup -y

      # 下载非官方语言 ISL 文件
      - name: Download unofficial ISL files
        run: |
          $languages = @(
            "https://raw.githubusercontent.com/jrsoftware/issrc/refs/heads/main/Files/Languages/Unofficial/ChineseSimplified.isl",
            "https://raw.githubusercontent.com/jrsoftware/issrc/refs/heads/main/Files/Languages/Unofficial/ChineseTraditional.isl"
          )
          $targetDir = "C:\Program Files (x86)\Inno Setup 6\Languages"
          foreach ($url in $languages) {
            $fileName = Split-Path $url -Leaf
            Invoke-WebRequest -Uri $url -OutFile (Join-Path $targetDir $fileName)
          }

      - name: Build installer x64
        run: iscc.exe "/DRuntime=x64" installer.iss

      - name: Build installer arm64
        run: iscc.exe "/DRuntime=arm64" installer.iss

      - name: List generated setup files
        run: dir Publish
      # ---------------- Upload Release ----------------
      - name: Create Release and Upload Assets
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref }}
          name: Release ${{ github.ref }}
          draft: true
          files: |
            Publish/Mikoto-*-setup.exe
